@page "/metadata/edit"
@page "/metadata/edit/{id}"

@using Toolbox.Extensions;
@using PathFinderWeb.Client.Application;

<PageHeader Header="Metadata" SubHeader="Manage Metadata records" />

<PageMenu MenuCollection="@MenuCollection" />

<div class="mt-md-2">
    @if (!ErrorMessage.IsEmpty())
    {
        <div class="alert alert-danger" role="alert">
            @ErrorMessage
        </div>
    }
    <EditForm EditContext="@EditContext">

        <div class="simple-form">
            <div class="form-group row">
                <label class="col-md-2" for="id">Id:</label>
                <div class="col-md-10">
                    <InputText @bind-Value="@FormData.Id" type="text" class="form-control" id="id" placeholder="Enter ID for link." disabled="@(!Id.IsEmpty())" @oninput="@(x => OnChangeId(x.Value?.ToString() ?? string.Empty))" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2" for="url">Enabled:</label>
                <div class="col-md-10">
                    <InputCheckbox @bind-Value="FormData.Enabled" />
                </div>
            </div>

            <hr />

            <div class="form-group row">
                <label class="col-md-2" for="url">Owner:</label>
                <div class="col-md-10">
                    <InputText @bind-Value="FormData.Owner" type="text" class="form-control" id="url" placeholder="Owner / contact" @oninput="@(x => OnChangeOwner(x.Value?.ToString() ?? string.Empty))" />
                </div>
            </div>

            <div class="form-group row mt-4">
                <label class="col-md-2" for="property">Properties:</label>
                <div class="col-md-10">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Value</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var line in FormData.Properties)
                            {
                                <tr>
                                    <td style="border-width: 0px">
                                        <InputText @bind-Value="line.Key" type="text" class="form-control" @oninput="@(x => { line.Key = x.Value?.ToString() ?? string.Empty; VerifyExtraProperty(); })" />
                                    </td>
                                    <td style="border-width: 0px">
                                        <InputText @bind-Value="line.Value" type="text" class="form-control" @oninput="@(x => { line.Value = x.Value?.ToString() ?? string.Empty; VerifyExtraProperty(); })" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <hr />

            <div class="form-group row mt-4">
                <label class="col-md-2" for="url">Tags:</label>
                <div class="col-md-10">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Value</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var line in FormData.Tags)
                            {
                                <tr>
                                    <td style="border-width: 0px">
                                        <InputText @bind-Value="line.Key" type="text" class="form-control" @oninput="@(x => { line.Key = x.Value?.ToString() ?? string.Empty; VerifyExtraTag(); })" />
                                    </td>
                                    <td style="border-width: 0px">
                                        <InputText @bind-Value="line.Value" type="text" class="form-control" @oninput="@(x => { line.Value = x.Value?.ToString() ?? string.Empty; VerifyExtraTag(); })" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </EditForm>
</div>

<Modal @ref="Modal">
    <Title>Delete Metadata</Title>
    <Body>
        <p>
            Do you want to delete <span class="font-weight-bold">@Id</span> metadata?
        </p>

        <div class="alert alert-warning" role="alert">
            Warning, this will delete the metadata and is not recoverable without re-adding.
        </div>

    </Body>
    <Footer>
        <NavLink @onclick="Delete" class="btn btn-primary model-normal-button">Delete</NavLink>
        <button type="button" class="btn btn-light model-close-button" data-dismiss="modal" @onclick="() => Modal.Close()">Close</button>
    </Footer>
</Modal>
