@page "/link"

@using PathFinderWeb.Client.Application;
@using PathFinder.sdk.Records;

<PageHeader Header="Links" SubHeader="Manage link records" />

<PageMenu MenuCollection="@MenuCollection" />

<div class="mt-md-2">
    <EditForm Model="@Context">
        <div class="row mb-4">
            <div class="col-md-6">
                <InputText @bind-Value="@Context.SearchByIdUrl" type="text" class="form-control" id="partialId" placeholder="Filter by id or url..." @oninput="@(x => OnSearchChange(x.Value?.ToString() ?? string.Empty))" />
            </div>
            <div class="col-md-3">
                <InputText @bind-Value="@Context.SearchByTag" type="text" class="form-control" id="tag" placeholder="Filter by tags..." @oninput="@(x => OnSearchTagChange(x.Value?.ToString() ?? string.Empty))" />
            </div>
            <div class="col-md-3">
                <InputText @bind-Value="@Context.SearchByOwner" type="text" class="form-control" id="tag" placeholder="Filter by Owner..." @oninput="@(x => OnSearchOwnerChange(x.Value?.ToString() ?? string.Empty))" />
            </div>
        </div>
    </EditForm>

    @switch (Context.RunState)
    {
        case RunState.Startup:
            <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="margin-bottom: 20px" />
            break;

        case RunState.Error:
            <div class="alert alert-danger" role="alert">
                @Context.ErrorMessage
            </div>
            break;

        case RunState.Result:
            <div class="row">
                <div class="pl-3 pr-3">
                    <RadzenGrid AllowFiltering="false" AllowPaging="true" PageSize="20" AllowSorting="false" Data="@Context.Records" TItem="LinkRecord" ColumnWidth="200px" RowSelect="OnRowSelect">
                        <Columns>
                            <RadzenGridColumn TItem="LinkRecord" Property="Id" Title="Id" Width="100px" />
                            <RadzenGridColumn TItem="LinkRecord" Property="RedirectUrl" Title="Redirect to Url" />
                            <RadzenGridColumn TItem="LinkRecord" Property="Owner" Title="Owner" Width="50px" />
                            <RadzenGridColumn TItem="LinkRecord" Property="Enabled" Title="Enabled" Width="30px" />
                        </Columns>
                    </RadzenGrid>
                </div>
            </div>
            break;
    }
</div>